footer {
  margin-top: 30px;
  background-color: #bd4d86dd;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
.inner-footer {
  padding: 20px;
}

footer ul {
  list-style: none;
  height: 100%;
}

@media (min-width: 1250px) {
  .footer-sections {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    max-width: 100%;
    
  }
  
  .disclaimer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .disclaimer ul {
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
  }
}

footer ul a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
footer ul a:hover {
  color: #3b0320;
}

@media (max-width: 1250px) and (min-width: 768px) {
  .footer-sections {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 100%;
    row-gap: 25px;
  }
}

@media (max-width: 768px) and (min-width: 525px) {
  .footer-sections {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 100%;
    row-gap: 25px;
  }
}

@media (max-width: 524px) {
  .center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }
  footer li {
    text-align: center;
  }
  .find-us-on {
    margin-top: 20px;
    text-align: center;
  }
  .remove-top-20-footer {
    margin-top: 0px;
  }
}

.disclaimer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.col-gap-10 {
  column-gap: 10px;
}

.white-link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.white-link:hover {
  color: #3b0320;
}