#desktop-services, #mobile-services, #desktop-home, #mobile-home, #desktop-about, #mobile-about, #desktop-contact, #mobile-contact, #desktop-events, #mobile-events {
  box-shadow: inset 0 0 0 0 #3b0320;
  color: #fff;
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#desktop-services:hover, #mobile-services:hover, #desktop-home:hover, #mobile-home:hover, #desktop-about:hover, #mobile-about:hover, #desktop-contact:hover, #mobile-contact:hover, #desktop-events:hover, #mobile-events:hover {
  box-shadow: inset 0 23px 0 0 #3b0320;
}

#desktop-products, #mobile-products {
  box-shadow: inset 0 23px 0 0 #3b0320;
  color: #fff;
	padding: 0 .25rem;
	margin: 0 -.25rem;
}